snippet jsconsolelog
console.log('${1:description}', ${2:value});
endsnippet

snippet reactcomponent
import React, { Component } from 'react';
import {

} from 'propTypes';

class ${1:ClassName} extends Component {
  render() {
    return (
      <div />
    );
  }
}

$1.propTypes = {

};

$1.defaultProps = {

};

export default $1
endsnippet


snippet reactpurefunction
import React from 'react';

const ${1:ClassName} = props => (
	<div />
);

export default $1
endsnippet
